@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype")
         url(assets/fonts/static/PlusJakartaSans-ExtraBold.ttf) format("truetype")
         url(assets/fonts/static/PlusJakartaSans-Medium.ttf) format("trueType");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;

}
body {
    font-family: "Plus Jakarta Sans", sans-serif ;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 60%, 98%);
}

#page {
    width: 70%;
    min-height: 70%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    overflow: scroll;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.not-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(219, 85%, 26%);
    height: 60%;
    border-radius: 5px;
    margin: auto 0 auto 1rem;
}

.not-count span {
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    font-size: 1.25rem;
    margin: 0.1rem 0.7rem;
}
#all-read {
    cursor: pointer;
}
.notifications {
    display: flex;
}
header  p {
    color:hsl(219, 12%, 42%);
    font-weight: 500;
}

main {
    padding: 0 1.5rem;
}

.ind-notification {
    display: flex;
    margin-bottom: 2rem;
    padding: 0.3rem;
    border-radius: 5px;
    cursor: pointer;
}

.ind-notification img {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem;
}

.one-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.one-line p {
    color: hsl(219, 14%, 63%);
    font-weight: 500;
}
.one-line span {
    font-weight: 800;
    font-size: 1rem;
    color: hsl(224, 21%, 14%);
}
.one-line span.post {
    color: hsl(219, 12%, 42%);
    font-weight: 800;
}

#picture-comment {
    display: flex;
    justify-content: space-between;
}
#picture-comment > img {
    height: 4rem;
}
.col-format {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-weight: 800;
    color: hsl(219, 85%, 26%)
}
.time {
    color: hsl(219, 14%, 63%);
}
.unread {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: hsl(1, 90%, 64%);
    margin-left: 0.5rem;
}
.one-line .description {
    display: flex;
    align-items: center;
}
.read {
    display: none;
}
.description {
    margin-bottom: 0.2rem;
}
.private-message {
    border: 1px solid hsl(219, 14%, 63%);
    border-radius: 5px;
    margin-top: 1rem;
}
.private-message p {
    margin: 1rem;
    color: hsl(219, 12%, 42%);
}
.change-background {
    background: hsl(210, 60%, 98%);
}
