@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype")
         url(assets/fonts/static/PlusJakartaSans-ExtraBold.ttf) format("truetype")
         url(assets/fonts/static/PlusJakartaSans-Medium.ttf) format("trueType");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;

}
body {
    font-family: "Plus Jakarta Sans", sans-serif ;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 60%, 98%);
}

#page {
    width: 70%;
    min-height: 70%;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
    border-radius: 15px;
    overflow: scroll;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.not-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(219, 85%, 26%);
}

.not-count span {
    margin: 0.25 0.7rem;
}

.notifications {
    display: flex;
}

main {
    padding: 0 1.5rem;
}

.ind-notification {
    display: flex;
}

.ind-notification img {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem;
}

.one-line {
    display: flex;
    flex-direction: column;
    
}
#picture-comment {
    display: flex;
    justify-content: space-between;
}
.col-format {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-weight: 800;
    color: hsl(219, 85%, 26%)
}
.time {
    color: hsl(219, 14%, 63%);
}

